.previeweditor {
    max-width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 90%;
    /* border-style: solid; */
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media all and (max-width:550px) {
    .previeweditor {
        max-width: 100%;
        padding: 10px 10px;
        box-sizing: border-box;
        height: 90%;
        /* border-style: solid; */
        display: block;
        text-align: center;
    }
}
.preview {
    margin: 20px auto;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    /* border-style: solid; */
    min-width: 40%;
    margin-right: 2%;
    text-align: left;
    overflow-y: scroll;
}
.preview h2 {
    text-align: center;
    margin-top: 0px;
}

.editor {
    min-width: 40%;
    padding: 20px 15px;
    box-sizing: border-box;
    height: 100%;
    /* border-style: solid; */
    margin-bottom: 40px;
}

.editor label {
    display: block;
    margin: 20px auto;
}

.editor input {
    font-size: 1em;
    color: #777;
    width: 80%;
    margin-bottom: 15px;
}
.quill {
    margin-top: 10px;
}
.submit-button {
    margin-top: 10px;
    text-align: right;
}